<!-- view/estudis.html - Català -->
<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <title>Estudis - Pere López</title>
  <link rel="icon" type="image/png" href="../img/logo.jpg" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="../css/css.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <a href="../index.html">
      <img src="../img/logo.jpg" alt="Logo" class="logo">
    </a>
    <nav>
      <ul>
        <li><a href="../index.html" title="Qui sóc"><i class="fas fa-user"></i></a></li>
        <li><a href="estudis.html" title="Estudis"><i class="fas fa-graduation-cap"></i></a></li>
        <li><a href="experiencia.html" title="Experiència"><i class="fas fa-briefcase"></i></a></li>
        <li><a href="indexingles.html" title="English"><i class="fas fa-language"></i></a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <h1 class="section-title">Formació Reglada</h1>
      <div class="edu-grid">
        <div class="edu-box">
          <h3>CFGM Sistemes informàtics i xarxes</h3>
          <p class="edu-center">CE Joan XXIII</p>
          <span class="edu-date">2024 – 2025</span>
        </div>
        <div class="edu-box">
          <h3>Educació Secundària Obligatòria</h3>
          <p class="edu-center">Fundació LLOR</p>
          <span class="edu-date">2023</span>
        </div>
      </div>
    </section>
  
    <section>
      <h2 class="section-title">Formació Complementària</h2>
      <div class="edu-grid">
        <div class="edu-box">
          <h3>Speaking d'Anglès</h3>
          <p class="edu-center">CE Joan XXIII</p>
          <span class="edu-date">2024</span>
        </div>
        <div class="edu-box">
          <h3>Robòtica</h3>
          <p class="edu-center">Fundació LLOR</p>
          <span class="edu-date">2022</span>
        </div>
        <div class="edu-box">
          <h3>Speaking d'Anglès</h3>
          <p class="edu-center">Talk Idiomas</p>
          <span class="edu-date">2021</span>
        </div>
      </div>
    </section>
  
    <section>
      <h2 class="section-title">Centre Joan XXIII</h2>
      <p>Aquí pots veure la ubicació del centre on curso els meus estudis:</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5990.225727250321!2d2.104722275531945!3d41.3499004983205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sJesu%C3%AFtes%20Bellvitge%20-%20Centre%20d'Estudis%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1746712058275!5m2!1ses!2ses"
      width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </section>
  </main>
  

  <footer>
    <p>&copy; 2025 Pere López</p>
    <ul>
      <li><i class="fas fa-phone"></i> 626-73-06-16</li>
      <li><i class="fas fa-envelope"></i> p3repro@gmail.com</li>
      <li><i class="fas fa-map-marker-alt"></i> Sant Boi (08830)</li>
    </ul>
  </footer>
</body>
</html>
